.input-magnify {
    position: absolute;
    z-index: 1070;
    display: block;
    visibility: visible;
    filter: alpha(opacity=0);
    opacity: 0;
}
.input-magnify.in {
    filter: alpha(opacity=90);
    opacity: .9;
}
.input-magnify-inner {
    max-width: 200px;
    padding: 3px 8px;
    font-size: 18px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    background-color: #5cb85c;
    border-radius: 4px;
}